node_modules/
.pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

coverage/

.next/
out/
build/
dist/

/prisma/dev.db
/prisma/dev.db-journal
/src/generated/prisma


.env.local
.env.*.local


.DS_Store
Thumbs.db
*.pem
*.tsbuildinfo
next-env.d.ts
.vercel

*.log
*.pid
*.seed
